/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-nov-2016, 9:16:30
    Author     : BEC.CA2
*/
html {
    background: url("fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#menu_inicial{
    min-width: 100%;
    min-height: 30px;
    background-color: #A8D841;
}
#menu_inicial2{
    min-width: 100%;
    min-height: 30px;
    background-color: #FAC11D;
}
#barra_inici{
    vertical-align:middle;
    text-align: right;
}
#barra_inici2{
    vertical-align:middle;
}
.text_arial_blanc{
    font-family: "Arial";
    color: #FFFFFF;
}
.text_arial_negre{
    font-family: "Arial";
}

.text_arial_href{
    font-family: "Arial";
    text-decoration:none;
    color: #FFFFFF;
}
.totample{
    width: 100%;
}
.borde_gris{
    border-style: solid;
    border-color: #C2C2C2;
    background-color: #989696;
}
.borde_gris_invertido{
    border-style: solid;
    border-color: #989696;
    background-color: #C2C2C2;
}
.no_disp{
    font-family: "Arial";
    color: #FE2E2E;
}
.error{
    font-family: "Arial";
    color: #FA0F0F;
}
